<div class="container">

    <div class="row justify-content-center">
        <div class="col-4 ">
            <h1 class="text-center   mb-4">REGISTRO</h1>


            <div *ngIf="loginSrv.errorStr" class="alert alert-danger border-2 " role="alert">
                {{loginSrv.errorStr}}
            </div>


            <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="rounded border border-2 border-primary">

                <div class="form-group mb-3">
                    <label>Usuario</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Usuario is required</div>
                        <div *ngIf="f['email'].errors['email']">Usuario inválido</div>
                        <div *ngIf="f['email'].errors['yaExiste']">Usuario ya existe</div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                        <div *ngIf="f['password'].errors['minlength']">Como mínimo 6 caracteres</div>
                        <div *ngIf="f['password'].errors['maxlength']">No puede ser mayor a 10 caracteres</div>
                    </div>
                </div>


                <div class="form-group mb-3">
                    <label>Confirma Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
                    <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                        <div *ngIf="f['confirmPassword'].errors['matching']">Las contraseñas no coinciden</div>
                    </div>
                </div>


                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-success me-2">Registrarse</button>
                </div>

            </form>

            <!--
            <div class="border mt-2 p-1">
                <pre>
                    registroForm.value:<br><code>{{ registroForm.value |json }}</code> 
                    Errores:<br><code>{{ f['email'].errors |json }}</code> 
                </pre>
            </div>
            -->


            <!--
            <div class="border mt-2 p-1">
                <h4>localStorage:</h4>{{loginSrv.listaUsuarios()}}
            </div>
            -->

        </div>

    </div>
</div>