<div class="container mt-3">
    <h1>home works!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla at natus numquam cupiditate atque magnam
        voluptatum asperiores ab quisquam fugiat, explicabo, est voluptas rem animi illo officiis, quibusdam
        consequuntur quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui porro nemo quasi voluptates accusamus eaque quod
        fuga exercitationem doloribus. Blanditiis distinctio error doloribus consequuntur quos perspiciatis recusandae
        dolores esse non.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui porro nemo quasi voluptates
        accusamus eaque quod fuga exercitationem doloribus. Blanditiis distinctio error doloribus consequuntur quos
        perspiciatis recusandae dolores esse non.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, ab vel mollitia dolorem reiciendis dignissimos sunt
        consequuntur, eum facere ad ratione voluptas fugiat excepturi, iste minima ducimus quae quisquam nemo.</p>

    <div class="d-flex flex-row-reverse bd-highlight">
        <a routerLink="/naves" class="btn btn-success">STARSHIPS</a>
    </div>
</div>