<div class="container mt-3">
    <span *ngFor="let nave of datosSrv.arrayNaves; index as i; ">
        <div class="card mb-2">
            <a [routerLink]="['/naves', datosSrv.getNaveId(nave.url) ]">
                <div class="card-body ">
                    <h4 class="card-title">{{i+1}} - {{nave.name}}</h4>
                    <p class="card-text"> {{nave.model}}</p>
                </div>
            </a>
        </div>
    </span>

    <div *ngIf="datosSrv.errorApi" class="alert alert-warning border-2 " role="alert">
        {{errorApi}}
    </div>

    <app-footer-naves *ngIf="!datosSrv.errorApi"></app-footer-naves>
</div>