<div class="container mt-3">
    <h1>Listado de Naves:</h1>
    <div #divListaNaves style='overflow-y: auto; '>
        <span *ngFor="let nave of datosSrv.arrayNaves; index as i; ">

            <div class="card mb-2">
                <div class="card-body">
                    <h4 class="card-title">{{i+1}} - {{nave.name}}</h4>
                    <p class="card-text"> {{nave.model}}</p>
                </div>
            </div>

        </span>
    </div>
    <app-footer-naves></app-footer-naves>
</div>